defaults: &defaults
  adapter: postgresql
  host: localhost
  encoding: unicode
  pool: 5
  password:
  timeout: 5000

development:
  <<: *defaults
  database: app_development

test:
  <<: *defaults
  database: app_test