defaults: &defaults
  adapter: postgresql
  host: localhost
  encoding: unicode
  pool: 5
  password:
  timeout: 5000

development:
  <<: *defaults
  database: app_development

test:
  <<: *defaults
  database: app_test

production:
  <<: *defaults
  host: <%= ENV["PG_HOST"] %>
  username: <%= ENV["PG_USER"] %>
  password: <%= ENV["PG_PASSWORD"] %>
  database: <%= ENV["PG_DATABASE"] %>